.HeroImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.HeroText {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    width: 60%;
    padding: 30px;
    background: rgba(0, 0, 0, 0.655);
    border-radius: 20px;
}

.HeroText h1 {
    font-size: 3rem;
    font-weight: 800;
}

.HeroText p {
    font-size: 1.3rem;
    padding: 0.5rem 0 2rem 0;
}

.HeroText button {
    text-decoration: none;
    background: white;
    padding: 1rem 2rem;
    border-radius: 6px;
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;
    border: none;
}

.HeroText button:hover {
    background: black;
    color: white;
    transition: 0.5s ease-in-out;
}

@media screen and (max-width:555px) {
    .Hero {
        overflow: hidden;
    }

    .HeroText {
        background: rgba(5, 5, 5, 0.668);
        width: 80%;
    }

    .HeroImg {
        width: 200%;
        height: 100%;
    }


    .HeroText h1 {
        padding: 10px 20px;
        font-size: 1.7rem;
    }

    .HeroText p {
        font-size: 0.7rem;
        padding: 0 0 2rem 0;
    }

    .HeroText button {
        padding: 0.6rem 1.1rem;
        border-radius: 6px;
        font-size: 0.7rem;
        border: none;
    }


}